.header {
    background-color: #344D67;
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.list a {
    text-decoration: none;
    color: mediumvioletred;
}

.list a:hover,
.list a.active {
    color: palevioletred;
    text-decoration: underline;
}