.profile{
    margin-left: 10%;
}


.leftSidebar {
    height: 100%;
    width: 5%;
    background-color: #0F3D3E;
    font-family: Bahnschrift sans-serif;
    font-size: 20px;

    margin-top: 60px;
    text-decoration-color: #344D67;
}

.sidenav---_u0En{
    background:  #0F3D3E;
}