.profile {
    margin-left: 10%;
}


.leftSidebar {
    height: 100%;
    width: 5%;
    color : #282c34;
    font-family: Bahnschrift sans-serif;
    font-size: 20px;
    margin-top: 9%;
}


/*.sidenav---_u0En {*/
/*    background-color: #0F3D3E*/
/*}*/

/*#nav-id {*/
/*background-color: #0F3D3E !important}*/

