.friends {
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 10%;

}

table td {
    padding: 110px;
    margin: 20px;
}


.h {
    font-size: small;
    color: #0F3D3E;
}

#2 {
    padding: 20px;
    margin-bottom: 20px;
}

input {
    height: 40px;
}