/*.container {*/
/*    !*display: flex;*!*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 50vh;*/
/*}*/
/*.left-arrow{*/
/*    justify-content: left;*/
/*}*/
/*.right-arrow{*/
/*    position: absolute;*/
/*    right: 0;*/
/*}*/
/*.image-container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.image-home {
    align-content: center;
    margin-left: -50%;
    width: 150%;
}

.container {
    margin-top: 10%;
}

#left-arrow {
    position: absolute;
    left: 2%;
    top: 60%;
    border-radius: 12px;
    border: none;
    font-size: large;
}

#right-arrow {
    position: absolute;
    right:5%;
    top: 60%;
    border-radius: 12px;
    font-size: large;
    border: none;
}



#description {
    position: absolute;
    top: 35%;
    right: 15%;
    font-size: 25px;
}

/*}*/
/*.image-description {*/
/*    position: center;*/
/*    top: 50%;*/
/*    right: 10px;*/
/*    transform: translateY(-50%);*/
/*    background-color: #61dafb;*/
/*    padding: 10px;*/
/*    text-align: left;*/
/*}*/

