.image-grid {
    display: flex;
    flex-wrap:wrap ;
}

.image-container{
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

img{
    max-width: 60%;
    margin-left: -500px;

}
.image-description {
    position: absolute;
    top: 50%;
    right: 200px;
    transform: translateY(-50%);
    background-color: #61dafb;
    padding: 10px;
    text-align: right;

}