#alert-msg {
    font-weight: bold;
    color: red;
}

.form-label{
    font-weight: bold;
}
.errFirstName {
    box-shadow: rgba(246, 10, 10, 0.98) 1px 1px 8px 1px;
}

.errLastName {
    box-shadow: rgba(246, 10, 10, 0.98) 1px 1px 8px 1px;
}

.errEmail {
    box-shadow: rgba(246, 10, 10, 0.98) 1px 1px 8px 1px;
}

.errPassword {
    box-shadow: rgba(246, 10, 10, 0.98) 1px 1px 8px 1px;
}

.password-box {
    position: relative;
}

.errCity {
    box-shadow: rgba(246, 10, 10, 0.98) 1px 1px 8px 1px;
}

.errPhoneNumber {
    box-shadow: rgba(246, 10, 10, 0.98) 1px 1px 8px 1px;
}

.grayscaled {
    color: lightgray;
}


