.games {
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 5%;
}

.friendsGames {
    /*position: absolute;*/
    margin-top: 15%;
   /* margin-left: -18%;*/
    margin-left: 35%;
    font-size: 15px;

}


/*input {*/
/*    height: 40px;*/
/*    width: 40%;*/
/*}*/
