#firstName{
    display: none;
    margin: 10px;
    width: 30%;
}

#lastName{
    display: none;
    margin: 10px;
    width: 30%;
}

#changeButton {
    background: #443C68;
    border: none;
    margin-right: 5%;
    font-size: small;
}

#savingButton {
    display: none;
    margin: 10px;
    background: #443C68;
    border: none;
    font-size: small;
}
